*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 15px;
}

header {
  width: 100%;
  background-color: #014E56;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 77px;
}

.header__list {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.header__item {
  color: #fff;
  margin-left: 40px;
}

.header__link {
  color: #fff;
}

.header__btn {
  color: #fff;
  text-align: center;
  background: none;
  border: 2px solid #fff;
  padding: 8px 30px;
  border-radius: 20px;
  margin-left: auto;
}

.header__burger {
  display: none;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #014E56;
  padding: 2px;
}
.header__burger::before, .header__burger::after, .header__burger-line {
  display: block;
  width: 20px;
  height: 20px;
  border: none;
  padding: 2px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
  margin-bottom: 3px;
  border-radius: 40px;
  width: 20px;
  margin-left: 50px;
}

.hero {
  position: relative;
  width: 100%;
  background-color: #014E56;
}

.hero__inner {
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.hero::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-image: url("../../../img/Group 8.svg");
  background-size: contain;
  top: 140px;
  left: 0px;
}

.hero__title {
  position: relative;
  width: 600px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  padding-bottom: 180px;
}

.hero__red {
  color: #F67E7E;
}

.hero::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 358px;
  height: 200px;
  background-repeat: no-repeat;
  background-image: url("../../../img/Group 7.svg");
  background-size: contain;
  right: 250px;
  bottom: -100px;
}

.hero__text {
  width: 445px;
  margin-bottom: 150px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

@media only screen and (max-width: 928px) {
  .hero::before {
    display: none;
  }
  .hero__inner {
    flex-wrap: wrap;
  }
  .hero__title {
    padding-top: 100px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 24px;
  }
  .hero__text {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 350px;
    text-align: center;
  }
}
@media only screen and (max-width: 579px) {
  .header__list {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header__burger {
    display: block;
    margin-right: 60px;
  }
  .hero {
    position: relative;
  }
  .hero::after {
    position: absolute;
    width: 327px;
    left: 10px;
    bottom: -110px;
  }
  .hero__inner {
    flex-wrap: wrap;
  }
  .hero__title {
    width: 240px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin-top: -80px;
  }
  .hero__text {
    width: 350px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 150px;
  }
}/*# sourceMappingURL=main.css.map */